# Dependencies
/node_modules

# Astro Build Output
# Astro writes its final build output to the "dist" directory by default
/dist

# Astro cache files
.astro/

# IDE/Editor Files
.vscode/
.idea/

# NPM/Package Manager Files
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Environment Variables / Credentials
# NEVER commit files that contain sensitive data or API keys
.env
.env.*